.burger {
  position: absolute;
  right: 7%;
  top: 2.7%;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  background: $beige;
  border: 1px solid $border;
  border-radius: 50%;
  cursor: pointer;
  z-index: 5;
  &__line {
    margin: 3px auto;
    position: relative;
    width: 18px;
    height: 2px;
    background-color: $blue;
    margin-bottom: 4px;
    border-radius: 2px;
    transition: all 0.3s ease-in-out;
    &::before {
      content: "";
      position: absolute;
      transform: translateY(-6px);
      left: 0;
      background: $blue;
      width: 100%;
      height: 100%;
      transition: all 0.3s ease;
    }
    &::after {
      @extend .burger__line::before;
      left: initial;
      right: 0;
      transform: translateY(6px);
    }
  }
  // &:hover &__line::before,
  // &:hover &__line::after {
  //   width: 50%;
  // }
  .line1 {
    background-color: transparent;
    &::before {
      transform: rotate(45deg);
      width: 100% !important;
    }
    &::after {
      width: 100% !important;
      transform: rotate(-45deg);
    }
  }
  &__close {
    @extend .burger;
    top: -12px;
    right: -12px;
  }
}

@media only screen and (min-width: 760px) {
  .burger {
    display: none;
  }
  .burger__close {
    display: flex;
  }
}

.circle {
  position: absolute;
  border-radius: 50%;
  &1 {
    width: 9rem;
    height: 9rem;
    background: white;
    background: linear-gradient(
      to right bottom,
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0.3)
    );
    top: 5%;
    right: 0;
  }
  &2 {
    @extend .circle1;
    top: auto;
    bottom: 5%;
    left: 0;
  }
  &3 {
    width: 4.5rem;
    height: 4.5rem;
    background: $beige;
    top: 16%;
    left: 0%;
    opacity: 0.8;
    filter: blur(0.3rem);
    animation: zoomInOut 8s linear infinite;
  }
  &4 {
    @extend .circle3;
    background: $light-grey;
    top: 94%;
    left: calc(85% - 2.25rem);
    animation: bounceTop 5s ease-in-out infinite;
  }
}

@keyframes bounceTop {
  0%,
  100% {
    transform: translateY(-50px);
  }
  50% {
    transform: translateY(0px);
  }
}
@keyframes zoomInOut {
  0%,
  100% {
    transform: scale(0.5);
  }
  50% {
    transform: scale(1);
  }
}
