.menu {
  @include section;
  height: 100%;
  justify-content: center;
  align-items: center;
  display: none;
  &__list {
    list-style: none;
  }
  .list__item {
    padding: 15px 0;
    text-align: center;
    & a {
      text-decoration: none;
      font-size: 3rem;
      color: $blue;
      transition: color 0.3s ease;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        right: 0;
        bottom: 0;
        width: 0%;
        height: 50%;
        background-color: $beige;
        z-index: -5;
        transition: width 0.5s ease;
      }
      &:hover {
        color: $dark-grey;
      }
      &:hover::before {
        width: 100%;
      }
    }
  }
}

.activated {
  display: flex;
}

@media only screen and (min-width: 760px) {
  .menu {
    position: absolute;
    width: 30%;
    height: 100%;
    display: flex;
    border-radius: 2rem;
    background: linear-gradient(
      to right bottom,
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0.3)
    );
  }
}
