:root {
  --skin: #fca;
  --iris: #963;
  --hair: #5e442f;
  --shirt: #eef4ff;
  --line: rgba(80, 0, 0, 0.15);
  --glass: #000;
}
.head {
  position: relative;
  width: 256px;
  height: 256px;
  margin-bottom: 30px;
  background: $beige;
  border-radius: 50%;
  border: 8px solid $border;
  z-index: 10;
  transition: opacity 0.5s ease-in-out;
}
.head div {
  position: absolute;
}
.forehead {
  width: 36%;
  height: 8%;
  border-radius: 50%;
  background: var(--skin);
  top: 12%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.shoulders {
  width: 70%;
  height: 30%;
  background: var(--shirt);
  border-radius: 50%;
  top: 64%;
  left: 50%;
  transform: translate(-50%, 0);
  clip-path: polygon(
    0% 40%,
    40% 10%,
    40% 0%,
    60% 0%,
    60% 10%,
    100% 40%,
    100% 100%,
    0% 100%
  );
  z-index: -50;
}
.shirt-neck {
  width: 10%;
  height: 8%;
  background: var(--shirt);
  transform: skew(-10deg) rotate(25deg);
  box-shadow: inset 0 0 0 5vmin rgba(0, 0, 0, 0.1);
  top: 64.125%;
  left: 35%;
}
.shirt-neck + .shirt-neck {
  transform: scaleX(-1) skew(-10deg) rotate(25deg);
  left: auto;
  right: 35%;
}
.hair-back {
  width: 45%;
  height: 56%;
  border-radius: 90% 90% 30% 30% / 100%;
  background: var(--hair);
  top: 0%;
  left: 50%;
  transform: translate(-50%, 0);
  border-radius: 100% 100% / 80% 80% 120% 120%;
  box-shadow: inset 0 0 0 10vmin rgba(0, 0, 0, 0.08);
}
.hair-front-1 {
  width: 67.2px;
  height: 48px;
  background: var(--hair);
  border-radius: 0 100% 0 100%;
  left: 120px;
}
.hair-front-1 + .hair-front-1 {
  left: 48px;
  top: -7px;
  transform: rotate(296deg);
}
.hair-front-2 {
  width: 71.48px;
  height: 50.45px;
  background: var(--hair);
  border-radius: 100% 0 120% 0;
  left: 55px;
  top: 2px;
  transform: rotate(355deg);
}
.hair-front-2 + .hair-front-2 {
  width: 83.7px;
  height: 48.3px;
  transform: rotate(38deg);
  border-radius: 100% 0 100% 0;
  top: -13.5px;
  left: 101px;
}
.hair-front-3 {
  width: 80px;
  height: 67px;
  border-radius: 50%;
  transform: rotate(-10deg);
  right: 113px;
  top: -12px;
  box-shadow: 8px 0 var(--hair);
  clip-path: polygon(0% 50%, 150% 50%, 150% 100%, 0% 100%);
}
.hair-front-3 + .hair-front-3 {
  width: 83.6px;
  height: 67.2px;
  border-radius: 50%;
  transform: rotate(-10deg);
  right: 130px;
  top: -12px;
  box-shadow: 10px 0 var(--hair);
  clip-path: polygon(0% 50%, 150% 50%, 150% 100%, 0% 100%);
}
.hair-bangs {
  width: 84px;
  height: 67.2px;
  border-radius: 50%;
  transform: rotate(-10deg);
  left: 34.5px;
  top: -12px;
  box-shadow: 9.5px 0 var(--hair);
  clip-path: polygon(0% 50%, 150% 50%, 150% 100%, 0% 100%);
}
.ear {
  width: 19.2px;
  height: 36px;
  border-radius: 90% 100% 70% 100% / 70% 100%;
  background: var(--skin);
  box-shadow: inset -28.7px 0 0 -22px var(--line);
  transform: rotate(-10deg);
  top: 67px;
  left: 65px;
}
.ear + .ear {
  transform: scaleX(-1) rotate(-10deg);
  left: auto;
  right: 65px;
}
.ear::before {
  width: 11.2px;
  height: 28.7px;
  border-radius: 100% 50% 0 0;
  border: 1px solid var(--line);
  border-left-color: transparent;
  border-bottom-color: transparent;
  top: 5px;
  left: 1px;
  clip-path: polygon(0% 0%, 100% 0%, 100% 50%, 0% 50%);
}
.ear::after {
  width: 6.4px;
  height: 6.4px;
  border: 1px solid var(--line);
  border-radius: 50%;
  top: 18px;
  right: 2px;
}
.hb::before,
.ha::after {
  content: "";
  display: block;
  position: absolute;
}

.face {
  width: 86.4px;
  height: 108px;
  background: var(--skin);
  border-radius: 100% 100% / 20% 20% 120% 120%;
  top: 84px;
  left: 120px;
  transform: translate(-50%, -50%);
}
.nose {
  width: 16%;
  height: 30%;
  background: var(--line);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40%);
  clip-path: polygon(50% 0%, 60% 88%, 0% 85%, 55% 100%, 100% 88%);
}
.mouth {
  width: 30%;
  height: 3%;
  border: 0.25vmin solid rgba(0, 0, 0, 0.2);
  border-top-color: transparent;
  border-radius: 100% / 100% 100% 40% 50%;
  bottom: 20%;
  left: 50%;
  transform: translate(-50%, 0) rotate(2deg);
}
.neck {
  width: 36px;
  height: 60px;
  background: var(--skin);
  bottom: 69px;
  left: 120px;
  transform: translate(-50%, 0);
  z-index: -50;
  border-radius: 18px;
  box-shadow: inset 0 81.5px 0 -48px var(--line),
    inset 0 -9.5px 0 -3px rgba(0, 0, 0, 0.2), inset 0 -9.5px 0 -3px var(--shirt);
}
.eye {
  width: 32px;
  height: 12px;
  background: white;
  border-radius: 80% 90% 30% 40% / 70% 100% 90% 100%;
  top: 30px;
  right: 5px;
  box-shadow: 0 1px var(--line);
  overflow: hidden;
}
.eye + .eye {
  transform: scaleX(-1);
  right: auto;
  left: 5px;
}
.pupil {
  width: 8px;
  height: 7px;
  background: #222;
  border-radius: 50%;
  top: 5px;
  left: 16px;
  transform: translate(-50%, -40%);
  box-shadow: 0 0 0 5px var(--iris);
}
.glass {
  width: 33px;
  height: 17px;
  background: #444;
  background: linear-gradient(#ffff, rgba(128, 251, 255, 0));
  top: 28px;
  left: 5px;
  border-radius: 100% / 20% 20% 80% 100%;
  border: 1.5px solid;
  border-top: 2.8px solid;
}
.glass::before {
  width: 6px;
  height: 2.5px;
  background: var(--glass);
  right: 32px;
}
.glass::after {
  width: 16px;
  height: 12px;
  border: 1.5px solid transparent;
  border-top: 2.9px solid var(--glass);
  border-radius: 50%;
  left: 27.2px;
  z-index: -50;
}
.glass + .glass {
  transform: scaleX(-1);
  left: auto;
  right: 5px;
}
.eye-bright {
  width: 3px;
  height: 3px;
  background: white;
  border-radius: 50%;
  top: 3px;
  left: 13px;
  box-shadow: -1.5px 2.5px 0 -0.6px white;
}
.eye + .eye .eye-bright {
  left: 50%;
  box-shadow: 1.5px 2.5px 0 -0.6px white;
}
.eyebrow {
  width: 34.5px;
  height: 22px;
  top: 16px;
  right: 4px;
  border-radius: 100% 90% 100% 40% / 70% 100% 90% 100%;
  box-shadow: -1.5px -2.5px 0 -1.5px rgba(0, 0, 0, 0.1),
    -0.8px -4.5px 0 -0.5px var(--hair);
  transform: rotate(8deg);
}
.eyebrow + .eyebrow {
  transform: scaleX(-1) rotate(12deg);
  left: 4%;
  right: auto;
}
