.projects {
  @include section;
  flex-direction: column;
  align-items: center;
  &__container {
    position: relative;
    top: 11vh;
    height: 185vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  &__title {
    @include h2;
  }
  .apps {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 350px;
    &__image {
      width: 250px;
      height: 150px;
      border: 8px solid $border;
      border-radius: 15px;
    }
    &__title {
      @include h4;
    }
    &__button {
      @include button;
    }
  }
}

.modal {
  @include section;
  justify-content: center;
  &__container {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  &__image {
    width: 250px;
    height: 150px;
    border-radius: 12px;
    margin: 18px auto;
  }
  &__title {
    @include h4;
    margin: 18px 20px;
  }
  &__description {
    font-size: 1.5rem;
    margin: 8px 20px;
  }
  &__info {
    @extend .modal__description;
  }
}
