@media only screen and (min-width: 760px) {
  span {
    font-size: 1.6rem;
  }

  .menu {
    .list__item {
      & a {
        font-size: 3.2rem;
        line-height: 4rem;
        letter-spacing: 0.5px;
      }
    }
  }
  .home {
    @include sectionTablet;
    .presentation {
      &__name {
        font-size: 2.2rem;
        letter-spacing: 0.6px;
      }
      &__button {
        @include buttonTablet;
      }
    }
  }
  .about {
    @include sectionTablet;
    &__title {
      @include h2Tablet;
    }
    &__title2 {
      font-size: 2.2rem;
      line-height: 6px;
    }
    &__paragraph {
      font-size: 1.6rem;
    }
    &__icons {
      font-size: 5.5rem;
      padding: 8px;
    }
    &__image {
      width: 55px;
      height: 55px;
    }
  }
  .projects {
    @include sectionTablet;
    &__title {
      @include h2Tablet;
      margin-top: 32px;
    }
    .apps {
      &__image {
        width: 300px;
        height: 180px;
      }
      &__title {
        @include h4Tablet;
      }
      &__button {
        @include buttonTablet;
      }
    }
  }
  .modal {
    width: 100%;
    left: 0;
    &__image {
      width: 70%;
      height: unset;
    }
    &__title {
      @include h4Tablet;
      margin: 8px 36px;
    }
    &__description {
      font-size: 1.6rem;
      margin: 8px 36px;
    }
  }
  .contact {
    @include sectionTablet;
    &__container {
      height: 76vh;
    }
    &__title {
      @include h2Tablet;
    }
    &__subtitle {
      @include h4Tablet;
    }
    .form {
      height: 40vh;
      &__button {
        @include buttonTablet;
      }
    }
    .social {
      font-size: 1.8rem;
      &__icon {
        padding: 0 5px;
      }
    }
  }
}

@media only screen and (min-height: 1000px) {
  .head {
    margin-bottom: 40px;
  }
}
