$main-font: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
  "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
$regular-font: "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode",
  Geneva, Verdana, sans-serif;

$light-grey: #f2e9e4;
$beige: #c9ada7;
$grey: #9a8c98;
$dark-grey: #4a4e69;
$blue: #22223b;
$border: rgba(255, 255, 255, 0.4);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  position: relative;
}
.main {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  background: linear-gradient(to top left, #868f96 0%, #596164 100%);
  font-family: $main-font;
  display: flex;
  align-items: center;
  justify-content: center;
  &__glass {
    background: white;
    height: 80vh;
    width: 90%;
    overflow-y: scroll;
    background: linear-gradient(
      to right bottom,
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.3)
    );
    border-radius: 2rem;
    backdrop-filter: blur(2rem);
  }
}

::-webkit-scrollbar {
  width: 0;
}

a {
  text-decoration: none;
}

span {
  font-size: 1.5rem;
  font-weight: 300;
}

@mixin section {
  display: flex;
  width: 100%;
  min-height: 80vh;
  transition: opacity 0.5s ease-in-out;
}

@mixin h2 {
  font-size: 2.6rem;
  line-height: 10px;
  text-align: center;
  margin-bottom: 10px;
}

@mixin h4 {
  font-size: 1.6rem;
  line-height: 3px;
  font-weight: 500;
}

@mixin button {
  position: relative;
  display: block;
  color: $blue;
  font-family: inherit;
  font-size: 1.6rem;
  font-weight: 500;
  width: 14rem;
  height: 4rem;
  background: rgba(201, 173, 167, 0.3);
  border: 1px solid $border;
  border-radius: 2.5rem;
  cursor: pointer;
  &:hover {
    color: $light-grey;
    background: transparent;
  }
  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 0%;
    background: $blue;
    border-radius: 2.5rem;
    z-index: -5;
    transition: width 0.3s ease;
  }
  &:hover::before {
    width: 100%;
  }
}

@mixin sectionTablet {
  position: relative;
  width: 70%;
  left: 30%;
}
@mixin h2Tablet {
  font-size: 2.8rem;
  line-height: 11px;
}
@mixin h4Tablet {
  font-size: 1.7rem;
  line-height: 4px;
}
@mixin buttonTablet {
  font-size: 1.7rem;
  width: 14.5rem;
}
