$main-font: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
  "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
$regular-font: "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode",
  Geneva, Verdana, sans-serif;

$light-grey: #f2e9e4;
$beige: #c9ada7;
$grey: #9a8c98;
$dark-grey: #4a4e69;
$blue: #22223b;
$border: rgba(255, 255, 255, 0.4);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  overflow-y: hidden;
}
.main {
  min-height: 100vh;
  background: linear-gradient(to top left, #868f96 0%, #596164 100%);
  font-family: $main-font;
  display: flex;
  align-items: center;
  justify-content: center;
  &__glass {
    background: white;
    height: 80vh;
    width: 90%;
    background: linear-gradient(
      to right bottom,
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.3)
    );
    border-radius: 2rem;
    backdrop-filter: blur(2rem);
  }
}

span {
  font-size: 1.5rem;
  font-weight: lighter;
}

@mixin classes {
  .active {
    opacity: 1;
    animation: fadeIn 0.5s ease-in-out forwards;
  }
  .hidden {
    opacity: 0;
    position: absolute;
    animation: fadeOut 0.5s ease-in-out forwards;
  }
}

@mixin section {
  position: relative;
  display: flex;
  width: 100%;
  height: 80vh;
  justify-content: center;
  align-items: center;
  transition: opacity 0.5s ease-in-out;
}
